<h2>
	<div class="chapter_position"><%=h @chapter.position -%></div>
	<%=h @chapter.title -%>
</h2>
<p><%= textilize(@chapter.teaser) %></p>
<p><%= textilize(@chapter.body) %></p>

<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>

<% if @chapter.has_revisions? %>
	<h2>Previous Revisions</h2>
	<% @chapter.versions.each do |version| %>
		<%= link_to version.version, chapter_revision_path(@chapter, version.id)  %>
	<% end %>
<% end %>
<% if @chapter.has_comments? %>
<h3>Comments</h3>
<%= render  :partial => "comments/comment",
             :collection => @chapter.comments %>

<% end %>
<h3>Add a Comment!</h3>
<%= render :partial => 'comments/form' %>

